@keyframes copyright-name {
  50% {
    padding: 2rem;
    transform: scale(1);
  }

  75% {
    transform: scale(1.25);
    letter-spacing: 0.5rem;
  }

  100% {
    letter-spacing: 1rem;
    padding: 2rem;
    transform: scale(1.25);
  }
}
