/// button
.align-self-center {
  align-self: center;
}

.button {
  @include font-special;
  padding: 1.5rem 6rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  letter-spacing: 0.3rem;
  transition: 0.4s all;
  text-transform: uppercase;
  z-index: 1000;
  cursor: pointer;

  &--white {
    color: $color-primary;
    background-color: $color-white;
  }

  &--red {
    color: $color-white;
    background-color: $color-secondary;
  }

  &:hover {
    border-radius: 0.1rem;
    @include box-shadow($color-black);
  }
}

// heading-primary and heading-secondary
.heading {
  &-primary {
    display: inline-block;
    padding: 1rem 0;
    font-size: 5.5rem;
    @include font-special2;
    letter-spacing: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.5s all;

    &:hover {
      transform: skewX(-15deg) scaleY(1.5);
    }

    &--white {
      color: $color-white;
    }

    &--orange {
      background-image: linear-gradient(
        to right,
        $color-secondary,
        $color-quaternary
      );
      -webkit-background-clip: text;
      color: transparent;
      // color: rgba(240, 198, 14, 0.918);
    }

    &-top {
      margin-bottom: 2rem;
      display: block;
      margin-right: 20rem;
    }

    &-bottom {
      display: block;
      margin-left: 25rem;
    }
  }

  &-secondary {
    text-align: center;

    transition: 1s all;

    &:hover {
      transform: scale(1.05);
    }

    &--white {
      color: $color-white;
    }

    &-big {
      display: block;
      text-transform: uppercase;
      font-size: 4rem;
      letter-spacing: 1.5rem;
    }

    &-small {
      margin-top: 1rem;
      display: block;
      font-size: 2.5rem;
      letter-spacing: 0.75rem;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: $color-grey-4;
  @include box-shadow($color-black);
  width: 40rem;
  height: 50rem;
  padding: 2.5rem;

  transition: 0.25s all;

  border-bottom: 0.3rem solid $color-primary;
  border-radius: 0.25rem;

  &-text {
    margin-top: 4rem;
    color: $color-grey-1;
    font-size: 1.8rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
  }

  &-heading {
    font-size: 3rem;
    color: $color-grey-2;
    text-transform: uppercase;
    @include font-special;
  }

  &-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &-2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  &-3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  &-4 {
    grid-row: 3/ 4;
    grid-column: 1 / 2;
  }

  &-5 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  &-icon {
    fill: $color-primary;
    height: 10rem;
    width: 10rem;
    margin-bottom: 1.5rem;
  }

  &:hover {
    transform: scale(1.01);
    @include box-shadow-big($color-secondary);
  }
}

.fact {
  @include font-special;
  display: flex;
  align-items: center;
  height: 40rem;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s 0.2s ease-in-out all;

  &-text {
    color: $color-white;
    font-size: 4rem;
    background-color: rgba($color-black, 0.7);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    transition: 0.5s all;
  }

  @include box-shadow($color-black);

  &-icon {
    fill: $color-secondary;
    transform: scale(0.7);
  }

  &:hover {
    &:nth-child(even) {
      & p {
        transform: translateX(-5rem) skewX(7deg);
      }
    }

    &:nth-child(odd) {
      & p {
        transform: translateX(5rem) skewX(-7deg);
      }
    }
  }

  &:nth-child(even) {
    & p {
      margin-left: 15rem;
    }
  }

  &:nth-child(odd) {
    & p {
      margin-right: 15rem;
    }
  }

  &--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.3),
        rgba($color-white, 0.3)
      ),
      url(../img/space-small.jpg);
  }

  &--2 {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.3),
        rgba($color-white, 0.3)
      ),
      url(../img/eye2-small.jpg);
  }

  &--3 {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.3),
        rgba($color-white, 0.3)
      ),
      url(../img/exception-small.jpg);
  }
}

.joke {
  font-size: 4rem;
  @include font-special;
  color: $color-white;
  text-transform: uppercase;
  padding: 2rem;
}

// utilities
.margin-top-small {
  margin-top: 2.5rem;
}

.margin-top-medium {
  margin-top: 5rem;
}

.margin-top-big {
  margin-top: 7.5rem;
}

.margin-top-gigantic {
  margin-top: 10rem;
}

.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

.margin-bottom-big {
  margin-bottom: 7.5rem;
}

.margin-bottom-gigantic {
  margin-bottom: 10rem;
}
