////////////////////////////////////////////////////
///////////// HEADER
.header {
  position: relative;
  &-slider {
    width: 500%;
    position: relative;
    animation: slider 25s infinite;
    height: 100vh;
  }

  &-bg-img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    float: left;
  }

  &-bg-img-1 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-primary, 0.4)
      ),
      url(../img/header-1.jpg);
  }

  &-bg-img-2 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-2.jpg);
  }

  &-bg-img-3 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-3.jpg);
  }

  &-bg-img-4 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-4.jpg);
  }

  &-text {
    color: white;
    display: inline;
    text-transform: uppercase;
    font-size: 5.5rem;
    padding: 0 1rem;
    line-height: 2;
    letter-spacing: 0.9rem;
    text-align: center;
    @include font-text-2;
  }

  &-box {
    position: absolute;
    background-color: rgba($color-black, 0.45);
    width: 50rem;
    color: $color-white;
    padding: 4.5rem 3rem 13rem 3rem;
    top: 35%;
    left: 8%;
    @include box-shadow-big($color-primary);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-text {
      font-size: 2.1rem;
      font-weight: bold;
      align-self: flex-start;
      text-align: left;
      line-height: 1.6;
      letter-spacing: 0.1rem;
    }
  }

  &-subheading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    @include font-text-2;
    letter-spacing: 0.35rem;
  }
}

////////////////////////////////////////////////////
///////////// SECTION SKILLS
.section-skills {
  padding: 35rem 0 50rem 0;
  background-color: $color-grey-3;

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
    align-items: center;

    padding-top: 10rem;
  }

  &-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-quaternary
    );
    @include box-shadow($color-black);
  }
}

////////////////////////////////////////////////////
///////////// FACTS
.section-facts {
  display: flex;
  flex-direction: column;
  align-items: center;

  clip-path: polygon(0 0, 100% 13%, 100% 87%, 0 100%);
  padding: 35rem 0;
  margin-top:-32rem;

  background-image: linear-gradient(
    to right bottom,
    $color-primary 45%,
    rgba($color-quaternary, 0.75),
    $color-secondary 85%
  );

  &-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, max-content);
  }
}

////////////////////////////////////////////////////
///////////// SECTION GENERATE FACT
.section-generate-fact {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color:$color-grey-4;

  &-top {
    margin: 0 5rem;
    height: 40vh;
    padding: 3.5rem;
    border-bottom:1px solid $color-secondary;
    background-color:rgb(225,225,225);
    align-self: stretch;
    border-radius: 0.2rem;
    transition: 0.5s all;

    &:hover {
      @include box-shadow($color-tertiary);
    }
  }

  &-text {
    color:$color-primary;
    font-size: 3rem;
    @include font-text-2;
  }
}

////////////////////////////////////////////////////
///////////// SECTION GALLERY
.section-gallery {
  padding: 10rem 0;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
}

////////////////////////////////////////////////////
///////////// FOOTER
.footer {
  height: 65vh;
  width: 100vw;
  background-color: $color-grey-5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-icon {
    width: 6rem;
    height: 6rem;
    fill: $color-grey-6;
    transition: 0.25s fill, 0.4s 0.3s transform;

    &:hover {
      fill: $color-secondary;
      transform: scale(1.5) rotate(360deg);
    }
  }

  &-copyright {
    font-size: 3rem;
    color: $color-white;
    @include font-text-2;
    letter-spacing: 0.5rem;
  }

  &-copyright-name {
    @include font-heading;
    font-size: 4rem;
    display: inline-block;
    transition: 0.5s padding, 0.6s 0.3s transform, 0.3s 0.8s letter-spacing;
    letter-spacing: 1rem;

    &:hover {
      padding: 0 8rem;
      color: $color-secondary;
      transform: scale(1.25);
      letter-spacing: 1.5rem;
    }
  }
}
