.header {
  position: relative;

  &-slider {
    width: 500%;
    position: relative;
    animation: slider 25s infinite;
    height: 100vh;
  }

  &-bg-img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    float: left;
    z-index: 5;
    display: flex;
  }

  &-bg-img-1 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-primary, 0.4)
      ),
      url(../img/header-small.jpg);
  }

  &-bg-img-2 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-1-small.jpg);
  }

  &-bg-img-3 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-2-small.jpg);
  }

  &-bg-img-4 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.4),
        rgba($color-tertiary, 0.4)
      ),
      url(../img/header-3-small.jpg);
  }

  &-joke {
    color: white;
    display: inline;
    text-transform: uppercase;
    font-size: 5.5rem;
    padding: 0 1rem;
    line-height: 2;
    letter-spacing: 0.9rem;
    text-align: center;
    @include font-special;
  }

  &-box {
    z-index: 1000;
    position: absolute;
    background-color: rgba($color-black, 0.45);
    width: 50rem;
    color: $color-white;
    padding: 4.5rem 3rem 13rem 3rem;
    top: 35%;
    left: 8%;
    @include box-shadow-big($color-primary);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-text {
    font-size: 2.1rem;
    font-weight: bold;
    align-self: flex-start;
    text-align: left;
    line-height: 1.6;
  }

  &-heading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    @include font-special;
    letter-spacing: 0.35rem;
  }
}

.section {
  &-skills {
    padding: 35rem 0 10rem 0;
  }

  &-skills-cards {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
    align-items: center;
  }

  &-box {
    // clip-path: polygon(% 0%, 100% 0, 100% 85%, 85% 100%, 0% 100%, 0% 15%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-quaternary
    );
    box-shadow: 1rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.section-facts {
  clip-path: polygon(0 0, 100% 13%, 100% 87%, 0 100%);
  padding: 35rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    $color-primary 45%,
    rgba($color-quaternary, 0.75),
    $color-secondary 85%
  );
}

.section-facts-box {
  flex-direction: column;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, max-content);
}

.section-generate {
  padding: 5rem 0;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  &-box {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);

    height: 85vh;
    position: relative;
    z-index: 10;
  }

  &-img {
    width: auto;

    position: absolute;
    transition: 1s all;
    &:hover {
      filter: brightness(110%);
      @include box-shadow-big($color-white);
    }
  }

  &-img--1 {
    left: -15%;
    height: 85vh;
  }

  &-img--2 {
    left: 25%;
    height: 85vh;
  }

  &-img--3 {
    left: 55%;
    height: 85vh;
  }

  &-img--4 {
    height: 90vh;
    left: 75%;
  }
}

.footer {
  height: 55vh;
  width: 100vw;
  background-color: $color-grey-5;

  display: flex;
  align-items: center;
  justify-content: center;

  &-copyright {
    font-size: 3rem;
    color: $color-white;
    @include font-special;
    letter-spacing: 0.5rem;
  }

  &-copyright-name {
    @include font-special2;
    font-size: 4rem;
    display: inline-block;
    transition: 0.5s padding, 0.6s 0.3s transform, 0.3s 0.8s letter-spacing;
    letter-spacing: 1rem;
    &:hover {
      padding: 8rem;
      color: $color-secondary;
      transform: scale(1.25);
      letter-spacing: 1.5rem;
    }
  }
}

.section-action {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &-top {
    margin: 0 5rem;
    height: 40vh;
    padding: 3.5rem;
    background: $color-white;
    align-self: stretch;
    border-radius: 0.2rem;
    @include box-shadow-big($color-black);
    transition: 0.5s all;

    &:hover {
      transform: translateY(-0.5rem);
      @include box-shadow-big($color-primary);
    }
  }

  &-text {
    color: $color-white;
    font-size: 3rem;
    @include font-special;
    color: rgb(138, 138, 138);
  }
}
